<div id="carouselTopIndicators" class="carousel carousel-top slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselTopIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselTopIndicators" data-slide-to="1"></li>
    <li data-target="#carouselTopIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active vertical-align">
      <%= image_tag "home.jpg", class:"d-block w-100", alt:"First slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>NÃO PERCA TEMPO!</h5>
        <p>Adquira seu imóvel conosco</p>
      </div>
    </div>

    <div class="carousel-item vertical-align">
      <%= image_tag "house.jpg", class:"d-block w-100", alt:"Second slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>AS MELHORES PROPRIEDADES DO MERCADO </h5>
        <p>Não perca tempo!</p>
      </div>
    </div>

    <div class="carousel-item vertical-align">
      <%= image_tag "condominium.jpg", class:"d-block w-100", alt:"Second slide" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>COMPRA, VENDA, ALUGUEL</h5>
        <p>Tudo em um só lugar!</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselTopIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselTopIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
